<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/styles.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>징징따와 유댕댕</h1>
    <div class="signbtn">
        <button onclick="location.href='/info'">내 정보 입력하고 시작하기</button>
        <button onclick="location.href='/login'">로그인</button>
    </div>
</div>
<!-- jQuery 사용 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JavaScript 파일 링크 -->
<script src="/app.js"></script>
<!-- 서비스 워커 등록 -->
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js')
                .then(function(registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                }, function(err) {
                    console.log('Service Worker registration failed:', err);
                });
        });
    }
</script>
</body>
</html>